<div class="box">
  <button class="prev slick-arrow"> <strong><</strong> </button>
  <button class="next slick-arrow"> <strong>></strong> </button>
  <div class="carousel">
    <div class="image-div" >
      <img src="../images/landing.jpg" alt="">
    </div>
    <div class="image-div">
      <img src="../images/landing2.jpg" alt="">
    </div>
    <div class="image-div">
      <img src="../images/landing3.jpg" alt="">
    </div>
  </div>
</div>
<div id="newsletter">
  <h2>Get Discount Info</h2>
  <p>Subscribe to Kiwi Fur mailing list to receive updates on new arrivals, special offers and other discount information</p>
  <form action="newsletter" method="post">
    <input type="email" name="email" id="" required placeholder="Subscribe to our newsletter...">
    <button type="submit" class="but">Subscribe</button>
  </form>
</div>
